

table, th, td {
  border:1px solid black;

}

body{font-family: arial}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.imglionel
{
  float:right;
  width:10%;
  
}


.onglet{background-color:green;}
.description{background-color:red;}
.titre{background-color:DodgerBlue;
}
.competence{background-color:pink;}
.formation{background-color:purple;}